{% extends 'base.html' %}
{% block title %}Customization{% endblock title %}
{% block content %}

<!-- Back Button Section -->
<div class="container">
  <h1>Category List</h1>
  <a href="{% url 'menu' %}" class="btn btn-secondary mb-3">Go Back</a>
  <a href="{% url 'category_add' %}" class="btn btn-primary mb-3">Add New Category</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for category in categories %}
    <tr>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td>
        <a href="{% url 'category_edit' category.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'category_delete' category.id %}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="3">No categories available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}